<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="defaultExecutorType" value="BATCH"/>
	</settings>
	<typeAliases>
		<typeAlias type="sfmi.batch.dto.Pay" alias="Pay"/>
		<typeAlias type="sfmi.batch.dto.Seq" alias="Seq"/>
		<typeAlias type="sfmi.batch.dto.SeqDetail" alias="SeqDetail"/>
	</typeAliases>	

</configuration>